.intro {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bio {
    margin: 3%;
}

.about-btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background-color: #8185fd;
    text-decoration: none;
    text-align: center;
    width: 160px;
    margin: 0 auto;
}

.about-btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: rgb(224, 224, 224);
    color: #111344;
    transition: 250ms;
    border: black;
}

.button-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-row-gap: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

@media screen and (max-width: 560px) {

    .button-bar {
        grid-template-columns: 100%;
    }
}