.top {
    display: grid;
    height: 250px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    background-color:#d3d4ff;
    color: #000;
    text-align: center;
    padding: 7%;
}

.grid-container {
    width: 400px;
    display: grid;
    grid-template-columns: 50px 50px;
    padding: 1px;
    grid-column-gap: 30px;
    justify-content: center;
}

.grid-item {
    padding: 10px;
    font-size: 50px;
    text-align: center;
}

.fa-envelope {
    color: #fff;
}

.LI-logo {
    text-decoration: none;
    color: #fff;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    font-size: 16px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


Form {
    border-radius: 5px;
    background-color: #EFE9E7;
    padding: 120px;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 1.5rem;
}

Input {
    align-content: center;
    justify-content: center;
    font-size: 1.5rem;
    padding:8px 8px 8px;
}

textarea#message {
    width:100%;
    height: 15rem;
    max-width:100%;
    font-size: 1.5rem;
	line-height:1.5;
	padding:8px 8px 8px;
}
