Form {
    border-radius: 5px;
    background-color: #EFE9E7;
    padding: 120px;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 1.5rem;
}

Input {
    align-content: center;
    justify-content: center;
    font-size: 1.5rem;
    padding:8px 8px 8px;
}

textarea#message {
    width:100%;
    height: 15rem;
    max-width:100%;
    font-size: 1.5rem;
	line-height:1.5;
	padding:8px 8px 8px;
}
