.container {
    text-align: center;
    height: 100px;
    justify-content: center;
    align-content: center;
    display: grid;
}

.column {
    border: 1px solid rgb(227, 244, 255);
    border-radius: 4px;
    float: left;
    width: 50%;
    box-sizing: border-box;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: #fff;
    overflow-y: hidden;
}

.cert-grid {
    display: grid;
    grid-template-columns: 120px 200px 120px 120px;
    grid-column-gap: 10px;
    margin: 1%;
    padding-top: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.column-small {
    height: 20vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #fff;
}

.column:hover {
    padding: 5px 5px;
    transition: all 0.3s ease-out;
    background: #ecf0ff;
    color: #000;
    transition: 250ms;
    visibility: visible;
}

.row {
    padding: 8% 8%;
    align-items: center;
    text-align: center;
}

.name {
    padding: 10px;
    font-size: 1.5rem;
    background-color:#fff;
    color: black;
}

.name-small {
    padding: 10px;
    font-size: 1rem;
    background-color:#fff;
}

.project-title {
    background-color:#d3d4ff;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    padding: 5%;
    display: flex;
}

.cert-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    padding-top: 2%;
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.cert-title {
    background-color:#d3d4ff;
    width: 100%;
    padding: 5%;
}

@media screen and (max-width: 750px) {

    .column {
        border: 1px solid rgb(227, 244, 255);
        border-radius: 4px;
        float: left;
        width: 100%;
        box-sizing: border-box;
        height: 300px;
        justify-content: center;
        align-items: center;
        background: #fff;
    }

    .cert-grid {
        display: grid;
        grid-template-columns: 80px 80px 80px 80px;
        grid-column-gap: 10px;
        margin: 1%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .cert {
        width: 75px;
        height: 75px;
    }

    .cert-itil {
        width: 100px;
        height: 70px;
    }

}