.project-nav {
    background: #111344;
    height: 85px;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    width: 100%;
}

.project-nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.project-nav-link:hover {
    background-color: #919191;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 960px) {

    .project-nav {
        grid-template-columns: repeat(4, auto);
        height: 140px;
    }
}